@import "~tachyons/css/tachyons.css";
/* @import "bootstrap/dist/css/bootstrap.css"; */
@import "./bootstrap/css/bootstrap.min.css";
@import "./variables.css";

@font-face {
  font-family: "AbrilFatFace";
  src: url(/fonts/abrilfatface/AbrilFatface-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(/fonts/lato/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(/fonts/lato/Lato-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url(/fonts/lato/Lato-Bold.ttf);
  font-weight: bold;
}

html,
body {
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--body-c);
  background-color: var(--bg-light-c);
  overflow-x: hidden;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: AbrilFatFace;
  font-weight: normal;
}

h2,
h3 {
  letter-spacing: 0.05ch;
}

#page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  min-height: 100vh;
}

#page-container > * {
  width: 100vw;
}

#nav-container {
  background-color: white;
  padding-bottom: var(--space-xs);
}

#nav-container > div,
#hero-container > div,
#main-content,
footer {
  max-width: var(--page-w);
  margin-left: auto;
  margin-right: auto;
  padding: var(--space-0) var(--space-s) var(--space-0) var(--space-s);
}

#hero-container > div {
  padding: var(--space-0) var(--space-m) var(--space-0) var(--space-m);
}

#main-content {
  margin: var(--space-m) auto;
}

/* @media (min-width: 43em) {}

@media (min-width: 62em){}

@media (min-width: 82em) {} */

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

button,
input {
  color: inherit;
  background-color: transparent;
  border-radius: 9999px;
  border: 0.125rem solid var(--border-c);
  padding: 0.5rem;
}

button:focus {
  /* outline: none;
  border: 0.125rem solid var(--background-primary-c);
  color: var(--background-primary-c);
  background-color: var(--primary-c); */
}

input:focus {
  /* outline: none;
  -webkit-box-shadow: 0px 0px 0px 0.175rem var(--primary-c);
  -moz-box-shadow: 0px 0px 0px 0.175rem var(--primary-c);
  box-shadow: 0px 0px 0px 0.175rem var(--primary-c); */
}

* {
  box-sizing: border-box;
}
