#page-container .ck-editor__editable_inline {
  min-height: 25em;
}

#page-container {
  --ck-color-toolbar-border: var(--border-c);
  --ck-color-base-border: var(--border-c);
  --ck-border-radius: 5px;
  --ck-inner-shadow: inset 0px 0px 0px var(--border-s) var(--headline-c);
}

#page-container .ck-editor {
  max-width: calc(100vw - var(--space-m));
}

#page-container .ck-content blockquote {
  border-left: 5px solid var(--zazz-c);
  padding-left: var(--space-s);
  margin-left: var(--space-m);
  font-style: normal;
}
