:root {
  --page-w: 90em;

  /* font size variables */
  --text-s: 1em;
  --text-m: 1.5em;
  --text-l: 2em;
  --text-xl: 4em;
  --text-xxl: 8em;

  /* spacing variables */
  --space-0: 0rem;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 4rem;
  --space-xl: 6rem;

  /* line-height variables */
  --lh-0: normal;
  --lh-s: 1.2em;
  --lh-m: 1.5em;

  /* breakpoint widths */
  --bp-s: 42em;
  --bp-m: 62em;
  --bp-l: 82em;

  /* border/box-shadow widths */
  --border-s: 2px;
  --border-m: 4px;
}

/* Light Mode Palette */
:root[color-mode="light"] {
  --headline-c: #082100;
  --body-c: #124b00;
  --border-c: #719366;
  --link-c: #000000;
  --zazz-c: #86d59c;
  --bg-dark-c: #c3ebce;
  --bg-medium-c: #f4fbf9;
  --bg-light-c: #ffffff;
  --emphasis-c: #293dd0;
}

/* Dark Mode Palette */
/* :root[color-mode="dark"] {} */
