:root {
  --page-w: 82em;

  /* font size variables */
  --text-s: 1rem;
  --text-m: 3rem;
  --text-l: 5rem;
  --text-xl: 5rem;

  /* spacing variables */
  --space-0: 0rem;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 4rem;
  --space-xl: 6rem;
}

/* Light Mode Palette */
:root[color-mode="light"] {
  --headline-c: #082100;
  --body-c: #124b00;
  --border-c: #719366;
  --zazz-c: #86d59c;
  --bg-dark-c: #c3ebce;
  --bg-light-c: #f4fbf9;
}

/* Dark Mode Palette */
/* :root[color-mode="dark"] {} */
